body {
  background-image: url('../images/background.jpg'); /* Ścieżka do obrazu */
  background-size: cover; /* Pokrywa cały dostępny obszar */
  background-position: center; /* Wyśrodkowuje obraz w obszarze */
  background-repeat: no-repeat; /* Zapobiega powtarzaniu się obrazu */
  background-attachment: fixed; /* Tło jest nieruchome podczas przewijania */
}

.fc-event {
  cursor:pointer;
}